# Pandas 2주차

In [2]:
import pandas as pd

## 1. pivot_table
 목적에 따라 행과 열의 위치를 바꾸거나 
 특정 요인에 따라 집계를 해서 구조를 바꿀 때 사용한다.

#### pd.pivot_table(data, index, columns, values, aggfunc)
 - index, columns: 행방향 또는 열방향에 표시할 열이름
 - values: 새 테이블의 값으로 표현할 열이름
 - aggfunc=np.sum / aggfunc=np.mean : 표시할 값이 중복될 경우 집계하는 함수

sales-funnel 파일을 불러와 name컬럼을 기준으로 pivot_table 명령 적용
(중복된 name들을 모두 하나로 표현한다)

In [3]:
import numpy as np
import xlrd
df=pd.read_excel("sales-funnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [6]:
pd.pivot_table(df, index=["Name"])

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [7]:
#다르게 재구성하기
pd.pivot_table(df, index="Name", columns="Account", values="Price")

Account,141962,146832,163416,218895,239344,307599,412290,688981,714466,729833,737550,740150
Name,,,,,,,,,,,,
Barton LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0
"Fritsch, Russel and Anderson",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN
Herman LLC,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jerde-Hilpert,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN,NaN,NaN
"Kassulke, Ondricka and Metz",NaN,NaN,NaN,NaN,NaN,7000.0,NaN,NaN,NaN,NaN,NaN,NaN
Keeling LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,NaN
Kiehn-Spinka,NaN,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Koepp Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN,NaN
Kulas Inc,NaN,NaN,NaN,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purdy-Kunde,NaN,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stokes LLC,NaN,NaN,NaN,NaN,7500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trantow-Barrows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000.0,NaN,NaN,NaN

 - 범죄데이터 (crime_anal_raw) 재구성하기

In [10]:
crime_anal_raw=pd.read_csv("crime_in_Seoul_include_gu_name.csv", encoding='utf-8', index_col=0)
crime_anal_raw

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구
5,용산서,5,5,14,14,194,173,1557,587,2050,1704,용산구
6,성북서,2,2,2,1,86,71,953,409,1194,1015,성북구
7,동대문서,5,5,13,13,173,146,1981,814,2548,2227,동대문구
8,마포서,8,8,14,10,294,247,2555,813,2983,2519,마포구
9,영등포서,14,12,22,20,295,183,2964,978,3572,2961,영등포구
10,성동서,4,4,9,8,126,119,1607,597,1612,1395,성동구
11,동작서,5,5,9,5,285,139,1865,661,1910,1587,동작구
12,광진서,4,4,14,26,240,220,3026,1277,2625,2180,광진구
13,서부서,2,2,2,1,70,59,819,293,1192,1038,은평구
14,강북서,7,8,14,13,153,126,1434,618,2649,2348,강북구
15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구
16,중랑서,13,12,11,9,187,148,2135,829,2847,2407,중랑구
17,강남서,3,3,15,12,300,225,2411,984,2465,2146,강남구
18,관악서,9,8,12,14,320,221,2706,827,3298,2642,관악구
19,강서서,7,8,13,13,262,191,2096,1260,3207,2718,양천구
20,강동서,4,3,6,8,156,123,2366,789,2712,2248,강동구
21,종암서,3,3,3,3,64,53,832,332,1015,840,성북구
22,구로서,8,6,15,11,281,164,2335,889,3007,2432,구로구
23,서초서,7,4,8,5,334,193,1982,905,1852,1607,서초구
24,양천서,3,5,6,3,120,105,1890,672,2509,2030,양천구
25,송파서,11,10,13,10,220,178,3239,1129,3295,2786,송파구
26,노원서,10,10,7,7,197,121,2193,801,2723,2329,노원구
27,방배서,1,2,1,1,59,56,653,186,547,491,서초구
28,은평서,1,1,7,5,96,82,1095,418,1461,1268,은평구
29,도봉서,3,3,9,10,102,106,1063,478,1487,1303,도봉구
30,수서서,10,7,6,6,149,124,1439,666,1819,1559,강남구

In [11]:
crime_anal=pd.pivot_table(crime_anal_raw, index='구별', aggfunc=np.sum)
crime_anal

      강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구     349    449     18     21     10     13   1650   3850   3705   4284
강동구     123    156      8      6      3      4    789   2366   2248   2712
강북구     126    153     13     14      8      7    618   1434   2348   2649
관악구     221    320     14     12      8      9    827   2706   2642   3298
광진구     220    240     26     14      4      4   1277   3026   2180   2625
구로구     164    281     11     15      6      8    889   2335   2432   3007
금천구     122    151      6      6      4      3    888   1567   1776   2054
노원구     121    197      7      7     10     10    801   2193   2329   2723
도봉구     106    102     10      9      3      3    478   1063   1303   1487
동대문구    146    173     13     13      5      5    814   1981   2227   2548
동작구     139    285      5      9      5      5    661   1865   1587   1910
마포구     247    294     10     14      8      8    813   2555   2519   2983
서대문구    124    154      4      5      2      2    738   1812   1711   2056
서초구     249    393      6      9      6      8   1091   2635   2098   2399
성동구     119    126      8      9      4      4    597   1607   1395   1612
성북구     124    150      4      5      5      5    741   1785   1855   2209
송파구     178    220     10     13     10     11   1129   3239   2786   3295
양천구     296    382     16     19     13     10   1932   3986   4748   5716
영등포구    183    295     20     22     12     14    978   2964   2961   3572
용산구     173    194     14     14      5      5    587   1557   1704   2050
은평구     141    166      6      9      3      3    711   1914   2306   2653
종로구     161    211      9     11      5      6    837   2184   1931   2293
중구      111    170      6      9      2      3    859   2548   1964   2224
중랑구     148    187      9     11     12     13    829   2135   2407   2847

In [13]:
#각 범죄별 검거율 계산
crime_anal['강간검거율']=crime_anal['강간 검거']/crime_anal['강간 발생']*100
crime_anal['강도검거율']=crime_anal['강도 검거']/crime_anal['강도 발생']*100
crime_anal['살인검거율']=crime_anal['살인 검거']/crime_anal['살인 발생']*100
crime_anal['절도검거율']=crime_anal['절도 검거']/crime_anal['절도 발생']*100
crime_anal['폭력검거율']=crime_anal['폭력 검거']/crime_anal['폭력 발생']*100
del crime_anal['강간 검거']
del crime_anal['강도 검거']
del crime_anal['살인 검거']
del crime_anal['절도 검거']
del crime_anal['폭력 검거']
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619

#### np.sum()
 - 배열 원소 간 합치기 범용 함수.
 - axis=0 : 같은 열의 위+아래 원소 값을 더하여 1차원 배열 반환
 - axis=1 : 같은 행의 왼쪽+오른쪽 원소값을 더하여 1차원 배열 반환

 - 범죄 발생 열들의 합계 구하기

In [14]:
col=['살인 발생', '강도 발생', '강간 발생', '절도 발생', '폭력 발생']
crime_anal_raw['범죄']=np.sum(crime_anal_raw[col], axis=1)
crime_anal_raw

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별,범죄
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구,2860
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구,2472
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구,2094
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구,4029
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구,2233
5,용산서,5,5,14,14,194,173,1557,587,2050,1704,용산구,3820
6,성북서,2,2,2,1,86,71,953,409,1194,1015,성북구,2237
7,동대문서,5,5,13,13,173,146,1981,814,2548,2227,동대문구,4720
8,마포서,8,8,14,10,294,247,2555,813,2983,2519,마포구,5854
9,영등포서,14,12,22,20,295,183,2964,978,3572,2961,영등포구,6867
10,성동서,4,4,9,8,126,119,1607,597,1612,1395,성동구,3358
11,동작서,5,5,9,5,285,139,1865,661,1910,1587,동작구,4074
12,광진서,4,4,14,26,240,220,3026,1277,2625,2180,광진구,5909
13,서부서,2,2,2,1,70,59,819,293,1192,1038,은평구,2085
14,강북서,7,8,14,13,153,126,1434,618,2649,2348,강북구,4257
15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구,3781
16,중랑서,13,12,11,9,187,148,2135,829,2847,2407,중랑구,5193
17,강남서,3,3,15,12,300,225,2411,984,2465,2146,강남구,5194
18,관악서,9,8,12,14,320,221,2706,827,3298,2642,관악구,6345
19,강서서,7,8,13,13,262,191,2096,1260,3207,2718,양천구,5585
20,강동서,4,3,6,8,156,123,2366,789,2712,2248,강동구,5244
21,종암서,3,3,3,3,64,53,832,332,1015,840,성북구,1917
22,구로서,8,6,15,11,281,164,2335,889,3007,2432,구로구,5646
23,서초서,7,4,8,5,334,193,1982,905,1852,1607,서초구,4183
24,양천서,3,5,6,3,120,105,1890,672,2509,2030,양천구,4528
25,송파서,11,10,13,10,220,178,3239,1129,3295,2786,송파구,6778
26,노원서,10,10,7,7,197,121,2193,801,2723,2329,노원구,5130
27,방배서,1,2,1,1,59,56,653,186,547,491,서초구,1261
28,은평서,1,1,7,5,96,82,1095,418,1461,1268,은평구,2660
29,도봉서,3,3,9,10,102,106,1063,478,1487,1303,도봉구,2664
30,수서서,10,7,6,6,149,124,1439,666,1819,1559,강남구,3423

 - crime_anal_raw를 구별 기준으로 피봇팅하고 중복되는 행은 합계 구하기

In [15]:
crime_anal2=pd.pivot_table(crime_anal_raw, index="구별", aggfunc=np.sum)
crime_anal2

,강간 검거,강간 발생,강도 검거,강도 발생,범죄,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생
구별,,,,,,,,,,,
강남구,349,449,18,21,8617,10,13,1650,3850,3705,4284
강동구,123,156,8,6,5244,3,4,789,2366,2248,2712
강북구,126,153,13,14,4257,8,7,618,1434,2348,2649
관악구,221,320,14,12,6345,8,9,827,2706,2642,3298
광진구,220,240,26,14,5909,4,4,1277,3026,2180,2625
구로구,164,281,11,15,5646,6,8,889,2335,2432,3007
금천구,122,151,6,6,3781,4,3,888,1567,1776,2054
노원구,121,197,7,7,5130,10,10,801,2193,2329,2723
도봉구,106,102,10,9,2664,3,3,478,1063,1303,1487
동대문구,146,173,13,13,4720,5,5,814,1981,2227,2548
동작구,139,285,5,9,4074,5,5,661,1865,1587,1910
마포구,247,294,10,14,5854,8,8,813,2555,2519,2983
서대문구,124,154,4,5,4029,2,2,738,1812,1711,2056
서초구,249,393,6,9,5444,6,8,1091,2635,2098,2399
성동구,119,126,8,9,3358,4,4,597,1607,1395,1612
성북구,124,150,4,5,4154,5,5,741,1785,1855,2209
송파구,178,220,10,13,6778,10,11,1129,3239,2786,3295
양천구,296,382,16,19,10113,13,10,1932,3986,4748,5716
영등포구,183,295,20,22,6867,12,14,978,2964,2961,3572
용산구,173,194,14,14,3820,5,5,587,1557,1704,2050
은평구,141,166,6,9,4745,3,3,711,1914,2306,2653
종로구,161,211,9,11,4705,5,6,837,2184,1931,2293
중구,111,170,6,9,4954,2,3,859,2548,1964,2224
중랑구,148,187,9,11,5193,12,13,829,2135,2407,2847

#### 실습: 인구 소멸 위기 지역 분석

- fillna() 함수 : 빈 셀에 대해 Nan처리를 하지 않고 그 앞 내용으로 채운다.

In [4]:
population=pd.read_excel('population_raw_data.xlsx', header=1)
population.head()

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,NaN,NaN,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,NaN,NaN,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,NaN,NaN,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0

In [6]:
population.fillna(method='pad', inplace=True)
population.head()

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,전국,소계,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,전국,소계,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,서울특별시,소계,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0

In [10]:
#column 이름 변경
population.rename(columns={'행정구역(동읍면)별(1)':'광역시도', '계':'인구수',
                  '행정구역(동읍면)별(2)':'시도'}, inplace=True)
population=population[(population['시도'] != '소계')]
population.head()

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자인구수 (명),62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0

- 행 단위 데이터 추출 연습 : DataFrame.loc[]

In [12]:
df=pd.DataFrame([[1,2], [4,5], [7,8]], index=['cobra', 'viper', 'sidewinder'],
              columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [13]:
#viper 행 추출
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [15]:
#viper와 sidewinder의 shield 값을 50으로 지정
df.loc[['viper', 'sidewinder'], ['shield']]=50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50